/* Start Header */
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #0d6efd;
}
.carousel-indicators .active {
    background: #0d6efd;
}
#header, .header-content{
    min-height: 60vh;
 }
#header{  
    margin-top: 50px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 110, 253, 0.6)), to(rgba(13, 110, 253, 0.6))), url(../images/overlay-bg.jpg);
    background-image: -o-linear-gradient(rgba(13, 110, 253, 0.6), rgba(13, 110, 253, 0.6)), url(../images/overlay-bg.jpg);
    background-image: linear-gradient(rgba(13, 110, 253, 0.6), rgba(13, 110, 253, 0.6)), url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#header .container{
    margin-top: 50px;
}
h2{
    font-size: 3.5rem;
}
#header .breadcrumb {
    color: #FFF;
}
#header .breadcrumb .breadcrumb-item:last-child,.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255,255,255,0.8);
}
/* End Header */
/* Start Portfolio-Details*/

.portfolio-details-content a:hover{
    color:  rgb(10,88,202);
}
.portfolio-details-content h3{
    font-size: 20px;
}
.portfolio-info{
    background-color: #FFF;
}
.portfolio-info li{
    font-size: 15px;
}
/* End Portfolio-Details*/
